*{
  margin: 0;
  padding:0;
  box-sizing: border-box;
}

body{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #b5acac;
}

button{
  background-color: #fafefe;
  border-radius: 25px;
  padding: 20px;
}